
.palette-icon
{
    width: 32px;
    height: 32px;
    margin: 4px;
    /*cursor: pointer;*/

    border-radius: 100%;
    border: 4px solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.palette-icon.selected
{
    border: 4px solid rgba(255, 255, 255, 0.3);
}

.palette-icon:hover
{
    border: 4px solid rgba(255, 255, 255, 0.3);
}

.palette-icon i
{
    color: rgba(0, 0, 0, 0.4);
}