
/** Editor styles **/
.editor-wrapper
{
    background: #1f2532;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size: 14px;

    border-radius: 21px;
}
.editor-wrapper .ql-container,
.editor-wrapper .ql-editor
{
    /**
     * Calculation:
     * Window height: 100vh
     * Navbar: 52px
     * Top margin: 40px
     * Bottom margin: 30px
     * Editor title + bottom bar: 88px
     * Quill module bar: 40px
     **/
    max-height: calc(100vh - 52px - 40px - 88px - 40px - 30px);
}

.editor-title-input
{
    background: transparent;
    border-bottom: none;
    padding: 12px 15px;
    font-size: 1.4em;
    color: #eeeeee;
}
.editor-title-input br
{
    display: none;
}
.editor-title-input *
{
    display: inline;
    white-space: nowrap;
    text-decoration: none;
}
.editor-title-input:focus
{
    outline: none;
}
.editor-title-input[data-placeholder].blank:before
{
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #868e96;
    cursor: text;
}

.editor-bottom-panel
{
    border-top: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 42px;
}
.editor-bottom-item
{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.editor-bottom-item:first-of-type
{
    /*padding: 0 15px;*/
}
.editor-bottom-item:last-of-type
{
    justify-content: flex-end;
}

/** Bottom bar styles **/
.category-picker-input-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.category-picker-input-wrapper .colour-picker
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    height: 42px;
    width: 42px;
}
.category-picker-label
{
    color: #eeeeee;
    font-size: 1.2em;
}
.category-picker-assign-label
{
    opacity: 0;
    color: #868e96;
    font-size: 1.2em;

    -webkit-transition: opacity 0.25s; /* Safari */
    -moz-transition: opacity 0.25s; /* Firefox */
    -o-transition: opacity 0.25s; /* Opera */
    transition: opacity 0.25s;
}
.category-picker-input-wrapper:hover .category-picker-assign-label
{
    opacity: 1;
}

.submit-btn-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.submit-btn
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    order: 1;

    cursor: pointer;

    color: #868e96;
    height: 42px;
    width: 42px;
    font-size: 24px;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;
}
.submit-btn:hover, .submit-btn:active, .submit-btn:focus
{
    color: #2ECC40;
}
.submit-label
{
    opacity: 0;
    color: #868e96;
    order: -1;
    font-size: 1.2em;
    cursor: default;

    -webkit-transition: opacity 0.25s; /* Safari */
    -moz-transition: opacity 0.25s; /* Firefox */
    -o-transition: opacity 0.25s; /* Opera */
    transition: opacity 0.25s;
}
.submit-btn:hover + .submit-label
{
    opacity: 1;
}

/** Dropdown styles **/
.category-dropdown-list
{
    background: #eeeeee;
    padding: 0;
    border: 1px solid #eeeeee;
    margin-top: 0;
}
.category-dropdown-item
{
    padding: 12px;
    cursor: pointer;
    color: black;
    background: transparent;

    -webkit-transition: background 0.25s; /* Safari */
    -moz-transition: background 0.25s; /* Firefox */
    -o-transition: background 0.25s; /* Opera */
    transition: background 0.25s;
}
.category-dropdown-item:hover
{
    color: black;
    background: #cccccc;
}

/** Collapse the bottom bar into two rows instead of one **/
@media only screen and (max-width: 600px) {
    .editor-bottom-panel
    {
        flex-direction: column;
        justify-content: flex-start;
    }

    .editor-bottom-item
    {
        justify-content: center;
    }
    .editor-bottom-item:last-of-type
    {
        justify-content: center;
    }
    .submit-label
    {
        order: 1;
    }
}