
.welcome-container
{
    padding: 0 14px;
    max-width: 980px;
    margin: 0 auto;
    height: calc(80vh - 48px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-container p
{
    color: #eeeeee;
}

.evoke-title
{
    color: #eeeeee;
    font-size: 3rem;
    font-weight: 300;
    margin: 30px;
    font-family: 'Roboto Mono', Courier New, monospace;
}
.cursor-icon
{
    font-size: 2.6rem;
    margin-right: 12px;
}

/** Sign in button styles **/
.signin-google-btn
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background: white;
    color: #444;
    width: 190px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
    height: 42px;
}
.signin-google-btn span
{
    font-size: 14px;
    font-weight: bold;
}