
/** Top-level menu containers **/
.menu-wrapper
{
    background: #1f2532;
    border-top: 1px solid #2c323e;

    width: 360px;
    height: calc(100vh - 52px);
    position: fixed;
    /* NOTE: Must be maintained with the height of the navbar */
    top: 52px;
    left: -360px;

    -webkit-transition: all 0.25s; /* Safari */
    -moz-transition: all 0.25s; /* Firefox */
    -o-transition: all 0.25s; /* Opera */
    transition: all 0.25s;

    z-index: 999;
    /*overflow-y: scroll;*/
}
.menu-wrapper[data-shown="show"]
{
    left: 0;
}

.menu-spacer[data-shown="show"]
{
    width: 360px;

    -webkit-transition: width 0.25s; /* Safari */
    -moz-transition: width 0.25s; /* Firefox */
    -o-transition: width 0.25s; /* Opera */
    transition: width 0.25s;
}

.menu-spacer[data-shown="hide"]
{
    width: 0;

    -webkit-transition: width 0.25s; /* Safari */
    -moz-transition: width 0.25s; /* Firefox */
    -o-transition: width 0.25s; /* Opera */
    transition: width 0.25s;
}

@media only screen and (max-width: 1160px) {
    .menu-wrapper[data-shown="show"]
    {
        left: 0;
        width: 100vw;

        -webkit-transition: all 0.25s; /* Safari */
        -moz-transition: all 0.25s; /* Firefox */
        -o-transition: all 0.25s; /* Opera */
        transition: all 0.25s;
    }

    .menu-spacer[data-shown="show"]
    {
        width: 0;

        -webkit-transition: width 0.25s; /* Safari */
        -moz-transition: width 0.25s; /* Firefox */
        -o-transition: width 0.25s; /* Opera */
        transition: width 0.25s;
    }
}
