
.menu-link
{
    color: #eeeeee;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 300;
    white-space: nowrap;
    cursor: pointer;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-top: 8px;
}

.menu-link:hover
{
    color: #FF851B;
}

.menu-link.active
{
    color: #FF851B;
}
.menu-link.active:hover > div
{
    background: #FF851B !important;
}

.menu-link > div
{
    -webkit-transition: background 0.25s ease-in-out; /* Safari */
    -moz-transition: background 0.25s ease-in-out; /* Firefox */
    -o-transition: background 0.25s ease-in-out; /* Opera */
    transition: background 0.25s ease-in-out;
}

.menu-link:hover > div
{
    background: #FF851B !important;
}

.menu-link.active
{
    color: #FF851B;
}