/** Nav menu button **/

/* Credit goes to https://codepen.io/designcouch/pen/Atyop for style */

.nav-menu-button-wrapper
{
    padding: 14px 8px;
    display: inline-block;

    cursor: pointer;
}
.nav-menu-button-wrapper:hover #nav-menu-button span { background: #FF851B }

#nav-menu-button
{
    width: 30px;
    height: 18px;
    position: relative;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
#nav-menu-button span
{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #eeeeee;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
/*#nav-menu-button:hover span { background: #FF851B }*/

#nav-menu-button span:nth-child(1) { top: 0; }

#nav-menu-button span:nth-child(2),
#nav-menu-button span:nth-child(3) { top: 8px; }

#nav-menu-button span:nth-child(4) { top: 16px; }

#nav-menu-button.open span:nth-child(1)
{
    top: 8px;
    width: 0;
    left: 50%;
}

#nav-menu-button.open span:nth-child(2)
{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-menu-button.open span:nth-child(3)
{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-menu-button.open span:nth-child(4)
{
    top: 8px;
    width: 0;
    left: 50%;
}