
.category-filter-item
{
    margin: 6px 0;
    height: 34px;

    background: #1f2532;
    color: #868e96;

    border-radius: 21px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.colour-radio
{
    height: 34px;
    width: 34px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.colour-radio div:nth-of-type(1)
{
    border-radius: 100%;
    height: 24px;
    width: 24px;
    border: 3px solid;
}
.colour-radio div:nth-of-type(2)
{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 100%;

    opacity: 0;

    -webkit-transition: opacity 0.4s cubic-bezier(.25,.8,.25,1); /* Safari */
    -moz-transition: opacity 0.4s cubic-bezier(.25,.8,.25,1); /* Firefox */
    -o-transition: opacity 0.4s cubic-bezier(.25,.8,.25,1); /* Opera */
    transition: opacity 0.4s cubic-bezier(.25,.8,.25,1);
}
.colour-radio div.selected:nth-of-type(2)
{
    opacity: 1;
}

.category-filter-item .text-wrapper
{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.category-filter-item .text-wrapper > span:first-of-type
{
    padding: 8px 12px;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;
}
.category-filter-item:hover .text-wrapper > span:first-of-type
{
    color: #eeeeee;
}

.category-filter-item .text-wrapper > span:last-of-type
{
    padding: 8px 24px 8px 12px;
    font-size: 0.8em;
}