
.category-container
{
    padding: 40px 14px 0 14px;
    max-width: 980px;
    margin: 0 auto;
    opacity: 1;

    -webkit-transition: all 0.25s; /* Safari */
    -moz-transition: all 0.25s; /* Firefox */
    -o-transition: all 0.25s; /* Opera */
    transition: all 0.25s;
}

.category-input-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 42px;
}

.category-color-input-wrapper
{
    width: 42px;
    height: 42px;

    background: #1f2532;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category-text-input
{
    background: #1f2532;
    border-bottom: none;
    padding: 12px 15px;
    font-size: 1em;
    color: #eeeeee;

    height: 42px;
    max-width: 300px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}
.category-text-input br
{
    display: none;
}
.category-text-input *
{
    display: inline;
    white-space: nowrap;
    text-decoration: none;
}
.category-text-input:focus
{
    outline: none;
}
.category-text-input[data-placeholder].blank:before
{
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #868e96;
    cursor: text;
}

.category-submit-wrapper
{
    width: 42px;
    height: 42px;

    background: #1f2532;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.category-submit-wrapper i
{
    color: #868e96;
    font-size: 24px;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;
}
.category-submit-wrapper:hover i
{
    color: #2ECC40;
}

.category-list-wrapper
{
    max-width: 800px;
    margin: 0 auto;
}

.category-sorter-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.category-sorter
{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background: #1f2532;
    color: #868e96;
    padding: 8px 12px;
    margin-top: 18px;
    cursor: pointer;

    border-radius: 6px;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;
}
.category-sorter:hover
{
    color: #eeeeee;
}
.category-sorter-dropdown-list
{
    margin-top: 8px;
    background: #1f2532;
    padding: 0;
    border: 1px solid #2c323e;
}

.category-sorter-dropdown-item
{
    padding: 12px;
    cursor: pointer;
    color: #eeeeee;
    background: transparent;

    -webkit-transition: background 0.25s; /* Safari */
    -moz-transition: background 0.25s; /* Firefox */
    -o-transition: background 0.25s; /* Opera */
    transition: background 0.25s;
}
.category-sorter-dropdown-item:hover
{
    color: #eeeeee;
    background: #2c323e;
}