
.category-picker-dropdown-list
{
    margin-top: 0;
    background: #1f2532;
    padding: 0;
    border: 1px solid #2c323e;

    min-width: 20px;
}

.category-picker-dropdown-menu-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.category-picker-dropdown-menu-wrapper .category-picker-item
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 8px 12px;
    cursor: pointer;
    color: #eeeeee;
    background: transparent;

    -webkit-transition: background 0.25s; /* Safari */
    -moz-transition: background 0.25s; /* Firefox */
    -o-transition: background 0.25s; /* Opera */
    transition: background 0.25s;
}
.category-picker-dropdown-menu-wrapper .category-picker-item:hover
{
    color: #eeeeee;
    background: #2c323e;
}