
/** Editor styles **/

.home-container
{
    padding: 40px 14px 0 14px;
    max-width: 980px;
    margin: 0 auto;
    opacity: 1;

    -webkit-transition: all 0.25s; /* Safari */
    -moz-transition: all 0.25s; /* Firefox */
    -o-transition: all 0.25s; /* Opera */
    transition: all 0.25s;
}

.note-filter
{
    max-width: 600px;
    margin: 30px auto;

    color: #868e96;

    border-radius: 6px;
}
.note-filter-header
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-filter .clickable
{
    padding: 8px 12px;
    margin: 0 auto;
    cursor: pointer;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;
}
.note-filter .clickable:hover,
.note-filter.panel-shown .clickable
{
    color: #eeeeee;
}
.filter-icon
{
    -webkit-transition: transform 0.1s; /* Safari */
    -moz-transition: transform 0.1s; /* Firefox */
    -o-transition: transform 0.1s; /* Opera */
    transition: transform 0.1s;
}
.note-filter.panel-shown .filter-icon
{
    transform: rotate(180deg);
}

.filter-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filter-item-sm
{
    padding: 8px 24px;
    margin: 6px 0;
    height: 34px;

    background: #1f2532;
    color: #868e96;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;
}
.filter-item-sm:first-of-type
{
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    margin-right: 1px;
}
.filter-item-sm:last-of-type
{
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.filter-item-sm:hover
{
    color: #eeeeee;
}