
.search-bar-wrapper
{
    border-radius: 17px;
    background: #2c323e;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}

.search-bar-wrapper div:first-of-type,
.search-bar-wrapper .end-cap
{
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar-wrapper .end-cap
{
    cursor: pointer;
}

.search-text-input
{
    border-bottom: none;
    font-size: 1em;
    color: #eeeeee;

    height: 34px;
    line-height: 34px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
}
.search-text-input br
{
    display: none;
}
.search-text-input *
{
    display: inline;
    white-space: nowrap;
    text-decoration: none;
}
.search-text-input:focus
{
    outline: none;
}
.search-text-input[data-placeholder].blank:before
{
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #868e96;
    cursor: text;
}