/*** Nav bar **/
/**
 * ## Colors
 * BG: #1f2532
 * Main BG: #2c323e
 * Text: #eeeeee
 * Text hover: #FF851B
 * On light BG text hover: #FF851B
 * Muted text: #868e96
 **/


.navbar-wrapper
{
    background: #1f2532;
    border-top: 2px solid #FF851B;
    border-bottom: 2px solid #2c323e;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 52px;
    /*box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.2);*/
}
.navbar
{
    background: #1f2532;
    color: #eeeeee;
    height: 48px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    elevation: above;

    max-width: 1280px;
    margin: 0 auto;
    padding: 0 14px;
}
.nav-item
{
    flex: 1;
    justify-content: space-between;
}

.nav-left
{
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.nav-item .search-wrapper
{
    max-width: 300px;
    flex: 1;
    margin-left: 20px;
    display: flex;
}

.nav-center
{
    text-align: center;
}
.nav-brand
{
    color: #eeeeee;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 300;
    padding: 0 12px;
    cursor: pointer;
    display: inline-block;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;
}
.nav-brand:hover
{
    color: #FF851B;
}

.nav-right
{
    text-align: right;
}
.user-info
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0 8px;

    font-size: 0.8em;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;

    cursor: pointer;
}
.user-info:hover
{
    color: #FF851B;
}
.user-text
{
    padding-right: 10px;
}
.user-avatar
{
    height: 30px;
    width: 30px;
    border: 2px solid #eeeeee;
    -webkit-border-radius: 100%; /* Safari, Chrome */
    border-radius: 100%; /* Opera, IE */

    -webkit-transition: border 0.25s; /* Safari */
    -moz-transition: border 0.25s; /* Firefox */
    -o-transition: border 0.25s; /* Opera */
    transition: border 0.25s;
}
.user-info:hover .user-avatar
{
    border: 2px solid #FF851B;
}

.dropdown-list
{
    margin-top: 15px;
    background: #1f2532;
    padding: 0;
    border: 1px solid #1f2532;
}

.dropdown-item
{
    padding: 8px 12px;
    cursor: pointer;
    color: #eeeeee;
    background: transparent;

    -webkit-transition: background 0.25s; /* Safari */
    -moz-transition: background 0.25s; /* Firefox */
    -o-transition: background 0.25s; /* Opera */
    transition: background 0.25s;
}
.dropdown-item:hover
{
    color: #eeeeee;
    background: #2c323e;
}

@media only screen and (max-width: 980px) {
    .user-info
    {
        display: none;
    }
}
