
.colour-picker-dropdown-list
{
    margin-top: 0;
    background: #1f2532;
    padding: 0;
    border: 1px solid #1f2532;

    min-width: 20px;
}

.colour-picker-dropdown-menu-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.colour-row
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}