
.category-item-container
{
    margin: 0 auto;

    height: auto;
    overflow: visible;
    max-width: 800px;

    transition: height 0.5s cubic-bezier(.25,.8,.25,1);
}

.category-item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 42px;
    margin-top: 18px;

    background: #1f2532;
    border-radius: 21px;
}

.category-item-color-wrapper
{
    width: 42px;
    height: 42px;

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.category-item-color-wrapper.panelShown
{
    border-bottom-left-radius: 0;
}

.category-item-name-wrapper
{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0 18px;
    height: 42px;

    color: #eeeeee;
    font-size: 1.2em;
}

.category-item-name-wrapper.editable
{
    border-bottom: none;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
}
.category-item-name-wrapper.editable br
{
    display: none;
}
.category-item-name-wrapper.editable *
{
    display: inline;
    white-space: nowrap;
    text-decoration: none;
}
.category-item-name-wrapper.editable:focus
{
    outline: none;
}
.category-item-name-wrapper.editable[data-placeholder].blank:before
{
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #868e96;
    cursor: text;
}

.btn-row-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category-icon
{
    font-size: 1.2em;
    height: 42px;
    width: 42px;
    cursor: pointer;

    color: #868e96;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.category-icon:hover
{
    color: #FF851B;
}
.category-icon.hover-warning:hover
{
    color: #FF4136;
}
.category-icon.hover-success:hover
{
    color: #2ECC40;
}

.category-item > span
{
    padding: 8px 24px 8px 12px;
    font-size: 0.8em;
    color: #868e96;
}