.animate
{
    height: auto;
    overflow: visible;

    transition: height 0.3s cubic-bezier(.25,.8,.25,1);
}

.hide-wrapper
{
    height: auto;
}
.hide-wrapper[data-display="false"]
{
    height: 0;
    overflow: hidden;
}

.note-err
{
    margin-top: 20px;
}

.note-wrapper
{
    margin-top: 10px;
    /*cursor: default;*/
    border-radius: 21px;
    font-size: 14px;

    -webkit-transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1); /* Safari */
    -moz-transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1); /* Firefox */
    -o-transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1); /* Opera */
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

    background: #1f2532;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.note-wrapper:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.25);
}

.note-title-input
{
    background: transparent;
    border-bottom: none;
    padding: 12px 15px;
    font-size: 1.4em;
    color: #eeeeee;
    cursor: text;
}
.note-title-input br
{
    display: none;
}
.note-title-input *
{
    display: inline;
    white-space: nowrap;
    text-decoration: none;
}
.note-title-input:focus
{
    outline: none;
}
.note-title-input[data-empty="true"]
{
    display: none;
}
.note-wrapper:focus-within .note-title-input[data-empty="true"]
{
    display: block;
}
.note-title-input[data-placeholder].blank:before
{
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #868e96;
    cursor: text;
}

.text-note-editor .ql-toolbar
{
    opacity: 0;
    height: 0;
    visibility: hidden;
    padding: 0 8px;

    -webkit-transition: all 0.6s cubic-bezier(.25,.8,.25,1); /* Safari */
    -moz-transition: all 0.6s cubic-bezier(.25,.8,.25,1); /* Firefox */
    -o-transition: all 0.6s cubic-bezier(.25,.8,.25,1); /* Opera */
    transition: all 0.6s cubic-bezier(.25,.8,.25,1);
}
/*.text-note-editor .quill:focus-within .ql-toolbar*/
.text-note-editor:focus-within .ql-toolbar
{
    opacity: 1;
    height: 40px;
    visibility: visible;
    padding: 8px;
}

.text-note-editor .ql-editor
{
    cursor: text;
}

.text-note-editor .ql-container,
.text-note-editor .ql-editor
{
    /**
     * Calculation:
     * Window height: 100vh
     * Navbar: 52px
     * Top margin: 40px
     * Bottom margin: 30px
     * Editor title + bottom bar: 88px
     * Quill module bar: 40px
     **/
    max-height: calc(100vh - 52px - 40px - 88px - 40px - 30px);
}

.note-bottom-panel
{
    border-top: none;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 42px;
}
.note-bottom-item.hidden
{
    opacity: 0;

    -webkit-transition: opacity 0.3s cubic-bezier(.25,.8,.25,1); /* Safari */
    -moz-transition: opacity 0.3s cubic-bezier(.25,.8,.25,1); /* Firefox */
    -o-transition: opacity 0.3s cubic-bezier(.25,.8,.25,1); /* Opera */
    transition: opacity 0.3s cubic-bezier(.25,.8,.25,1);
}
.note-wrapper:hover .hidden
{
    opacity: 1;
}

.note-bottom-item
{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.note-bottom-item:first-of-type
{
    justify-content: flex-start;
}
.note-bottom-item:last-of-type
{
    justify-content: flex-end;
}
.category-picker-input-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.note-wrapper .category-picker
{
    height: 42px;
    width: 42px;
    cursor: pointer;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.note-wrapper .zoom-me
{
    transform: scale(0.6);

    -webkit-transition: transform 0.6s cubic-bezier(.25,.8,.25,1); /* Safari */
    -moz-transition: transform 0.6s cubic-bezier(.25,.8,.25,1); /* Firefox */
    -o-transition: transform 0.6s cubic-bezier(.25,.8,.25,1); /* Opera */
    transition: transform 0.6s cubic-bezier(.25,.8,.25,1);
}
.note-wrapper:hover .zoom-me
{
    transform: scale(1);
}

.note-bottom-button
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;

    font-size: 1.2em;
    color: #868e96;
}
.note-bottom-button i
{
    height: 42px;
    width: 42px;

    color: #868e96;

    display: flex;
    justify-content: center;
    align-items: center;
}
.note-bottom-button.save:hover,
.note-bottom-button.save:hover i
{
    color: #2ECC40;
}
.note-bottom-button.discard:hover,
.note-bottom-button.discard:hover i
{
    color: #E74C3C;
}

.note-bottom-icon
{
    font-size: 1.2em;
    height: 42px;
    width: 42px;
    cursor: pointer;

    color: #868e96;

    -webkit-transition: color 0.25s; /* Safari */
    -moz-transition: color 0.25s; /* Firefox */
    -o-transition: color 0.25s; /* Opera */
    transition: color 0.25s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.note-bottom-icon:first-of-type
{
    padding-left: 0;
}
.note-bottom-icon:last-of-type
{
    padding-right: 0;
}
.note-bottom-icon:hover
{
    color: #FF851B;
}

.timestamp-text
{
    color: #868e96;
    font-size: 0.8em;
}

.note-bottom-item .loading-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 42px;
    width: 42px;
}