body {
  margin: 0;
  /* NOTE: Must be maintained with the height of the navbar */
  padding-top: 52px;
  font-family: 'Roboto', sans-serif;
  background: #2c323e;
  /*background: #eee;*/
}
/** Utilities **/
.spacing-left {  padding-left: 6px;  }
.spacing-right {  padding-right: 6px;  }
.icon-sm {  font-size: 12px;  }
.test1 { border: 1px solid red; }
.test2 { border: 1px solid green; }
.test3 { border: 1px solid blue; }

.alert-msg { border-radius: 6px; }

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/**
 * ## Colors
 * BG: #2c323e
 * Panels: #e1e2e1
 **/
