
.content-wrapper
{
    display: flex;
    flex-direction: row;
}

.loading-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.main-container
{
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 60px;
}

@media only screen and (max-width: 1160px) {
    *[data-show="false"]
    {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
}