
.list-item
{
    background: transparent;
    /*padding: 6px 0;*/
    font-size: 1em;
    color: #eeeeee;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bottom-border
{
    border-bottom: 1px solid #2c323e;
    height: 0;
    margin: 0 6px;
}
.list-item-wrapper:last-of-type .bottom-border
{
    border-bottom: none;
}

.list-item .left-header-wrapper
{
    flex: 1;
    max-width: 40px;
    border-right: 1px solid #2c323e;

    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item .left-header-wrapper.blank
{
    border-right: none;
}

.list-item .text-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-item .text-display
{
    flex: 1;
    padding: 8px 15px;

    background: transparent;
    border-bottom: none;
    font-size: 1.1em;
    color: #868e96;

    text-decoration: line-through;
}

.list-item .textbox
{
    flex: 1;
    padding: 8px 15px;

    background: transparent;
    border-bottom: none;
    font-size: 1.1em;
    color: #eeeeee;
}
.list-item .textbox.subheading
{
    /*font-size: 1.25em;*/
    letter-spacing: 1px;
}
.list-item .textbox br
{
    display: none;
}
.list-item .textbox *
{
    display: inline;
    white-space: nowrap;
    text-decoration: none;
}
.list-item .textbox:focus
{
    outline: none;
}
.list-item .textbox[data-placeholder].blank:before
{
    content: attr(data-placeholder);
    float: left;
    margin-left: 2px;
    color: #868e96;
    cursor: text;
}

.list-item .btn-wrapper
{
    opacity: 0;

    -webkit-transition: opacity 0.3s cubic-bezier(.25,.8,.25,1); /* Safari */
    -moz-transition: opacity 0.3s cubic-bezier(.25,.8,.25,1); /* Firefox */
    -o-transition: opacity 0.3s cubic-bezier(.25,.8,.25,1); /* Opera */
    transition: opacity 0.3s cubic-bezier(.25,.8,.25,1);

    /*min-width: 40px;*/
    padding: 0 8px;
    font-size: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item:hover .btn-wrapper
{
    opacity: 1;
}
.list-item .end-btn
{
    color: #868e96;
    cursor: pointer;
    min-width: 22px;

    -webkit-transition: color 0.3s cubic-bezier(.25,.8,.25,1); /* Safari */
    -moz-transition: color 0.3s cubic-bezier(.25,.8,.25,1); /* Firefox */
    -o-transition: color 0.3s cubic-bezier(.25,.8,.25,1); /* Opera */
    transition: color 0.3s cubic-bezier(.25,.8,.25,1);

    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item .end-btn:hover
{
    color: #eeeeee;
}

.list-item .tickbox
{
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid #868e96;
    color: #868e96;
    cursor: pointer;

    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1); /* Safari */
    -moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1); /* Firefox */
    -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1); /* Opera */
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item:hover .tickbox
{
    border: 2px solid #eeeeee;
    color: #eeeeee;
}
.list-item .tickbox.checked
{
    /*border: 2px solid purple;*/
}
.list-item .tickbox i
{
    opacity: 0;

    -webkit-transition: opacity 0.4s cubic-bezier(.25,.8,.25,1); /* Safari */
    -moz-transition: opacity 0.4s cubic-bezier(.25,.8,.25,1); /* Firefox */
    -o-transition: opacity 0.4s cubic-bezier(.25,.8,.25,1); /* Opera */
    transition: opacity 0.4s cubic-bezier(.25,.8,.25,1);
}
.list-item .tickbox.checked i
{
    opacity: 1;
}

.list-item .add-icon
{
    font-size: 1.25em;
    color: #868e96;
}



.list-item .dropdown-list
{
    margin-top: 8px;
    background: #1f2532;
    padding: 0;
    border: 1px solid #2c323e;
}

.list-item .dropdown-item
{
    padding: 8px 12px;
    cursor: pointer;
    color: #eeeeee;
    background: transparent;

    -webkit-transition: background 0.25s; /* Safari */
    -moz-transition: background 0.25s; /* Firefox */
    -o-transition: background 0.25s; /* Opera */
    transition: background 0.25s;
}
.list-item .dropdown-item:hover
{
    color: #eeeeee;
    background: #2c323e;
}